.app-header {
  display: flex;
  justify-content: space-between; /* Align content to the right */
  align-items: center;
  background-color: #2d9c23;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 40px; /* Set a specific height for the header */
}

.header button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.header button:hover {
  text-decoration: underline;
}
